/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #152238;
}

#contact-form{
	border: 2px;
	border-color: blue;
	/*color: white;*/
}

#contact-row {
	display: flex;
	align-items: center
}


#submit-email {
	color: white;
}